extends layout.pug

block title
  title !{code} !{title} &mdash; httpstatuses.io

block description
  meta(name='description' content='HTTP Status Code ' + code + ': ...')

block contents
  .banner: .container: .row: .twelve.columns
    p #[a(href='/') &larr; Return to httpstatuses.io]

  article.code.container
    h2 !{categories[set]}
    h1 #[span !{code}] !{title}
    != content
    if code_references
      h1.section #[span !{code}] Code References
      each value, key in code_references
        p !{key} #[code !{value}]
    a(href='/') &larr; Return to httpstatuses.io
