extends layout.jade

block title
  title !{code} !{title} &mdash; httpstatuses.com

block description
  meta(name='description' content='HTTP Status Code ' + code + ': ' + excerpt)

block contents
  article.code.container
    h2 !{groups.codes[set].title}
    h1 #[span !{code}] !{title}
    != contents
    if references
      h1.section #[span !{code}] Code References
      each value, key in references
        p !{key} #[code !{value}]
    a(href='/') &larr; Return to httpstatuses.com