extends layout.jade

mixin statuscode(code)
  if !code.standard
    li #[a(href='/#{code.code}', title='Non-standard') #[span(class='non-standard') !{code.code}] #{code.title}]
  else
    li #[a(href='/#{code.code}') #[span !{code.code}] #{code.title}]

block contents
  .hero.introduction: .container: .row: .twelve.columns !{contents}

  .container.codes: .row: .twelve.columns
    each group in groups.codes
      ul
        li #[h2 !{group.title}]
        each code in group.items
          +statuscode(code)
