extends layout.jade

block contents
  .hero.introduction: .container: .row: .twelve.columns !{contents}

  .container.codes: .row: .twelve.columns
    each group in groups.codes
      ul
        h2 !{group.title}
        each code in group.items
          li #[a(href='/#{code.code}') #[span !{code.code}] #{code.title}]